@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App {
  text-align: center;
}
a img {
margin: 3em;
opacity: 75%;
}


/* write your parent styles in here for your App.js */
