@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App {
  text-align: center;
}
a img {
margin: 3em;
opacity: 75%;
}

 * {cursor: url(https://cur.cursors-4u.net/others/oth-1/oth24.cur), auto !important;} 
 
